<section class="project row {{ post.class }}">
  <aside class="project-information column large-3">
    <h3>{{ post.title }}</h3>
    <p>{{ post.desc }}</p>
    <h4>Work</h4>
    <p>{{ post.work }}</p>
    <a href="{{ post.website }}">Website</a>
  </aside>
  <span class="project-images column large-9">
    {% for image in post.images %}
      <img src="{{ image }}">
    {% endfor %}
    {% for image in post.images-half %}
      <img class="small-6" src="{{ image }}">
    {% endfor %}
  </span>
</section>