header {
  background: $headerColor;
  color: white;
  font-family: "OpenSansBold";
}

nav {
  text-align: center;
  margin: 2% 0;

  li {
    text-decoration: none;
    display: inline-block;
    margin: 0 2.3%;
  }
}