.projects {
  background: $primaryColor;
  color: white;
  padding: 2% 5%;

  h3, h4 {
    color: $titleColor;
  }

  a {
    background: $titleColor;
    text-decoration: none;
    color: white;
    padding: 3px 10px;
    border-radius: 20px;

    &:hover {
      background: darken($titleColor, 10%);
    } 
  }

  .project-images {
    margin-top: 20px;
  }
}