.about {
  margin-bottom: 20px;
  flex: 1;

  a {
  	text-decoration: none;
  	color: #ff9d00;
  	margin-left: 5px;

  	&:hover {
		  color: darken($headerColor, 10%);
  	}
  }

  p {
    line-height: 2em;
    margin-top: 3.5%;
    font-size: 1.5em;
    color: white;
  }

  .portrait {
    position: relative;
    top: 20px;
  	width: 130px;
  	display: block;
  	margin: 0 auto;
  }
}
