.about {
  margin-bottom: 20px;
  flex: 1;

  a {
  	font-size: 3em;
  	text-decoration: none;
  	color: $headerColor;
  	margin-left: 10px;

  	&:hover {
		  color: darken($headerColor, 10%);
  	}
  }

  p {
    line-height: 1.7em;
    margin-top: 3.5%;
    font-size: 1.3em;
  }

  .portrait {
    position: relative;
    top: 20px;
  	width: 130px;
  	display: block;
  	margin: 0 auto;
  }
}