.about {
  color: #ccc;
  flex: 1;
  background:
    linear-gradient(
      rgba(6, 51, 87, 0.7),
      rgba(6, 51, 87, 0.7)
    ),
    url('../images/background.jpeg');
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 0 10% 7%;
  border-bottom: 2px solid #ccc;

  header {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    background: transparent;
    border: none;
    margin-bottom: 70px;

    .icons {
      margin: 0;
    }
  }

  a {
    margin-left: 5px;
    color: white;

    &:hover {
      color: darken($headerColor, 10%);
    }
  }

  .icons {
    display: block;
    margin-top: 40px;

    a {
      color: $headerColor;
    }

    li {
      margin-right: 2%;
    }
  }

  .portrait {
    position: relative;
    top: 20px;
    display: block;
    width: 180px;
    padding: 0 34px;
    margin: 0 auto;
    background: white;
    border-radius: 50%;

    @media (max-width: $smallWidth) {
      margin-bottom: 40px;
    }
  }
}

.about, .contact-me-section {
  p {
    margin: 1em 0;
    font-family: "OpenSans";
    font-size: 1.3em;
    line-height: 1.5em;
    color: white;
  }
}

.contact-me-section {
  text-align: center;
  background: #eee;
  color: #222;
  width: 100%;
  padding: 7% 15%;
  max-width: 100%;
  margin: 0;

  p {
    color: #222;
  }

  ul {
    margin: 40px 0;
  }

  .contact-me {
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    transition: top 0.2s;
    position: relative;
    top: 0;
    padding: 20px 30px;
    background: $headerColor;
    color: #222;
    border-radius: 5px;
    display: inline-block;
    margin: 40px auto;
    text-decoration: none;

    i {
      margin-right: 10px;
    }

    &:hover {
      top: -4px;
    }
  }

  ul {
    list-style: none;
  }

  li {
    color: #1600B2;
    background: rgba(162, 203, 245, 0.5);
    display: inline-block;
    padding: 5px 12px;
    border-radius: 5px;
    margin: 5px 3px;
  }
}
