.about {
  padding-bottom: 60px;
  margin-bottom: 30px;
  flex: 1;
  border-bottom: 1px solid #333;
  color: #ccc;

  a {
  	text-decoration: none;
  	color: $headerColor;
  	margin-left: 5px;

  	&:hover {
		  color: darken($headerColor, 10%);
  	}
  }

  .icons {
    margin-top: 40px;
    display: block;

    li {
      margin-right: 2%;
    }
  }

  p {
    line-height: 1.5em;
    margin: 0.7em 0;
    font-size: 1.5em;
    font-family: "OpenSansLight";
  }

  .portrait {
    position: relative;
    top: 20px;
    width: 180px;
    display: block;
    margin: 0 auto;
    background: white;
    border-radius: 50%;
    padding: 0px 34px;
  }
}
