.about {
  max-width: 700px;
  margin: 0 auto;
  color: #ccc;

  @media (max-width: $mediumWidth) {
    padding: 0 20px;
  }

  @media (max-width: $xsmallWidth) {
    padding: 0 20px;
  }

  header {
    background: transparent;
    border: none;
  }

  a {
    color: #053357;

    &:hover {
      color: darken($headerColor, 10%);
    }
  }

  .icons {
    display: block;
    list-style: none;
    transition: color 0.3s;
    width: 80px;
    text-align: right;

    .fa {
      font-size: 1.7em;
      color: white;
    }

    a {
      color: $headerColor;

      &:hover {
        color: darken($headerColor, 10%);
      }
    }

    li {
      display: inline-block;
      margin-right: 10px;
    }
  }
}

.about {
  p {
    margin: 0;
    font-size: 18px;
    line-height: 1.5em;
    color: #053357;

    @media (max-width: $mediumWidth) {
      font-size: 1em;
    }
  }
}

.about-me {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $largeWidth) {
    margin: 0;
  }

  @media (max-width: $xsmallWidth) {
    width: 100%;
  }
}
