.about {
  margin-bottom: 20px;
  flex: 1;

  a {
  	font-size: 2em;
  	text-decoration: none;
  	color: $headerColor;
  	margin-left: 10px;

  	&:hover {
		  color: darken($headerColor, 10%);
  	}
  }

  p {
    line-height: 1.7em;
  }

  .portrait {
    position: relative;
    top: 20px;
  	width: 170px;
  	display: block;
  	margin: 0 auto;
  }

  .highlight {
    font-family: "OpenSansBold";
  }

  ul {
    font-size: 0.9em;
    list-style: none;
    font-family: "OpenSansItalic";

    li {
      margin-bottom: 8px;
    }
  }
}