body {
  font-family: "OpenSans";
  font-size: 16px;
  line-height: 1em;
}

footer {
  padding: 0% 5%;
}

ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: "OpenSansBold";
  font-weight: normal;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

strong {
  font-weight: normal;
  font-family: "OpenSansBold";
}

em {
  font-weight: normal;
  font-style: normal;
  font-family: "OpenSans";
}

@mixin clear {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}