::selection {
  color: white;
  background: $headerColor;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1em;
  color: #222;
  counter-reset: section;
}

footer {
  padding: 0 5%;
}

a {
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  line-height: 1em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 30px;

  @media (max-width: $smallWidth) {
    font-size: 1.7em;
  }

  @media (max-width: $xsmallWidth) {
    font-size: 1.5em;
  }
}

h3 {
  margin-top: 1.5em;
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.25em;
}

strong {
  font-weight: 500;
}

small {
  display: inline-block;
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 2em;
}

em {
  font-style: normal;
  font-weight: normal;
}

@mixin clear {
  &::before,
  &::after {
    display: table;
    content: " ";
  }

  &::after {
    clear: both;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.site {
  display: flex;
  min-height: 100vh;
  line-height: 1.35em;
  flex-direction: column;
}

.half {
  display: inline-block;
  width: 49%;
  margin-right: 1%;
}

.center {
  text-align: center;
}
