::selection {
  color: white;
  background: $headerColor;
}

body {
  font-family: "OpenSans";
  font-size: 15px;
  line-height: 1em;
  counter-reset: section;
  color: #333;
}

footer {
  padding: 0% 5%;
}

ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: "OpenSansBold";
  font-weight: normal;
  line-height: 1em;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.7em;
  font-family: "OpenSansLight";
}

h3 {
  font-size: 1.5em;
  margin-top: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.25em;
}

strong {
  font-weight: normal;
  font-family: "OpenSansBold";
  font-size: 1.5em;
  color: #ff9d00;
}

small {
  font-weight: normal;
  font-family: "OpenSansLight";
  font-size: 1.3em;
  line-height: 2em;
  display: inline-block;
  margin-bottom: 1em;
}

em {
  font-weight: normal;
  font-style: normal;
  font-family: "OpenSans";
}

@mixin clear {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.site {
  line-height: 1.35em;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.half {
  display: inline-block;
  width: 49%;
  margin-right: 1%;
}

.center {
  text-align: center;
}
