.blog {
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 90px;
  text-align: center;
  flex: 1;

  h3 {
    color: #ccc;
  }

  img {
    width: 80px;
  }

  a {
    display: block;
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.2em;
    font-weight: bold;
    color: $headerColor;
    text-decoration: none;

    &:hover {
      color: darken($headerColor, 15%);
    }
  }

  li {
    @include clear;
    display: inline-block;
    padding-top: 20px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 1em;
    line-height: 1.2em;
    color: #ccc;
    text-align: left;
    list-style: none;
    border-top: 1px solid #333;
  }

  em {
    float: right;
    color: #aaa;
  }
}

.post {
  p {
    font-size: 1.2em;
    line-height: 1.7em;
  }

  ul {
    margin-bottom: 10px;
    font-size: 1.2em;
    line-height: 1.7em;
  }

  img {
    margin: 1em 0.2em;
  }

  li {
    margin-bottom: 10px;
  }

  a,
  a:visited {
    color: $headerColor;
  }

  i {
    margin-right: 5px;
  }

  .back {
    display: block;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 1.2em;
  }

  .back2 {
    display: block;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 2em;
  }
}

blockquote {
  padding: 10px;
  margin: 10px 0;
  border-left: 5px solid #1abc9c;

  p {
    padding: 0;
    margin: 0;
  }
}

.after-element {
  &::after {
    font-size: 3em;
    color: red;
    content: "♡";
  }
}

#hash-example:target {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  background: #bada55;
}

p[title~="titulo"] {
  background: #bada55;
}

.counter::before {
  content: "Sessão " counter(section) ": ";
  counter-increment: section;
}

.posts li a {
  line-height: 1.2em;
}
