.blog {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 90px;
	flex: 1;


	img {
		width: 80px;
	}

	a {
		color: $headerColor;
		float: left;
	}

	li {
		@include clear;
		width: 500px;
		margin: 0 auto;
		list-style: none;
		display: block;
		font-size: 1.2em;
		line-height: 1.2em;
	}

	em {
		color: #aaa;
		float: right;
	}
}


.post {
	p {
		font-size: 1.3em;
		line-height: 1.7em;
	}
}
