.blog {
	padding: 10px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 90px;
	flex: 1;

	img {
		width: 80px;
	}

	a {
		color: $headerColor;
		float: left;
		text-decoration: none;
		display: block;
		width: 100%;
		font-size: 2.2em;
		margin-top: 15px;
		margin-bottom: 10px;
		font-weight: bold;

		&:hover {
        	color: darken($headerColor, 15%);
      	}
	}

	li {
		text-align: left;
		@include clear;
		margin: 0 auto;
		list-style: none;
		display: block;
		line-height: 1.2em;
		width: 750px;
		font-size: 1em;
		margin-bottom: 20px;
		margin-top: 20px;
		border-top: 1px solid #eee;
	}

	em {
		color: #aaa;
		float: right;
	}
}


.post {
	p {
		font-size: 1.2em;
		line-height: 1.7em;
	}

	ul {
		font-size: 1.2em;
  		line-height: 1.7em;
  		margin-bottom: 10px;
	}

	img {
		margin: 1em 0.2em;
	}

	li {
		margin-bottom: 10px;
	}

	a, a:visited {
		color: $headerColor;
	}

	i {
		margin-right: 5px;
	}

	.back {
		font-size: 1.2em;
		margin-top: 40px;
		margin-bottom: 30px;
		display: block;
	}
}

blockquote {
	border-left: 5px solid #1abc9c;
	padding: 10px;
	margin: 10px 0;

	p {
		margin: 0;
		padding: 0;
	}
}

.after-element {
	&:after {
		content: "♡";
		color: red;
		font-size: 3em;
	}
}

#hash-example:target {
	background: #bada55;
	padding: 10px;
	color: white;
	margin-bottom: 20px;
	display: block;
}

p[title~="titulo"] {
	background: #BADA55;
}

.counter:before {
	counter-increment: section;
    content: "Sessão " counter(section) ": ";
}
