.blog {
  z-index: 10;
  width: 100%;
  max-width: 100%;
  padding: 7% 10%;
  padding-top: 30px;
  text-align: center;
  flex: 1;
  background: white;
  border-top: 2px solid #ddd;

  @media (max-width: $mediumWidth) {
    padding: 5%;
  }

  h2 {
    color: #222;
  }

  img {
    width: 80px;
  }

  a {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.7em;
    font-weight: bold;
    color: #053357;
    text-decoration: none;

    @media (max-width: $mediumWidth) {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 1.5em;
    }

    @media (max-width: $smallWidth) {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.2em;
    }

    &:hover {
      color: darken($headerColor, 15%);
    }
  }

  li {
    display: flex;
    width: 80%;
    padding-top: 20px;
    margin: 0 auto;
    font-size: 1em;
    line-height: 1.2em;
    color: #555;
    text-align: left;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
  }
}

.post {
  margin-top: 3%;
  margin-bottom: 3%;

  p {
    font-size: 1.2em;
    line-height: 1.7em;
  }

  ul {
    margin-bottom: 10px;
    font-size: 1.2em;
    line-height: 1.7em;
  }

  img {
    margin: 1em 0.2em;
  }

  a,
  a:visited {
    color: $linkColor;
  }

  i {
    margin-right: 5px;
  }

  .back {
    display: block;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 1.2em;
  }

  .back2 {
    display: block;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 1.2em;
  }
}

blockquote {
  padding: 10px;
  margin: 10px 0;
  border-left: 5px solid #1abc9c;

  p {
    padding: 0;
    margin: 0;
  }
}

.after-element {
  &::after {
    font-size: 3em;
    color: red;
    content: "s2";
  }
}

#hash-example:target {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  background: #bada55;
}

p[title~="titulo"] {
  background: #bada55;
}

.counter::before {
  content: "Categoria " counter(section) ": ";
  counter-increment: section;
}

.posts li a {
  line-height: 1.2em;
}
