$headerColor: #f57d0f;

$firstBackgroundColor: #3498db;
$firstTitleColor: #f1c40f;
$firstFontColor: white;
$firstBorderColor: #226c9e;

$secondBackgroundColor: #fff;
$secondTitleColor: #34495e;
$secondFontColor: #34495e;
$secondBorderColor: #1a967d;

$thirdBackgroundColor: #1EE5A5;
$thirdTitleColor: #262626;
$thirdFontColor: #262626;
$thirdBorderColor: #1a967d;
