.footer {
  font-size: 0.9em;
  color: #ccc;
  padding: 25px 20px;
  border-top: 1px solid #333;

  .contact {
    width: 60%;
    margin: 0 auto;
  }

  span {
  	display: inline-block;
  }

  i {
  	font-size: 1.4em;
  	margin-left: 10px;
  }

  a {
  	text-decoration: none;
  	color: $headerColor;

  	&:hover {
		text-decoration: underline;
  	}
  }
}
