.footer {
  z-index: 10;
  padding: 25px 20px;
  font-size: 0.9em;
  color: #ccc;
  background: $linkColor;
  border-top: 1px solid #333;

  .contact {
    width: 60%;
    margin: 0 auto;
  }

  span {
    display: inline-block;
  }

  i {
    margin-left: 10px;
    font-size: 1.4em;
  }

  a {
    color: $headerColor;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
