.footer {
  font-size: 0.9em;
  color: #666;
  padding: 15px 20px;

  &:before {
    content: "";
    background: -webkit-linear-gradient(left, rgba(255,255,255,0), #ccc, rgba(255,255,255,0));
    height: 2px;
    display: block;
    margin: 0 auto 1.5em;
  }

  .contact {
    width: 60%;
    margin: 0 auto;
  }

  span {
  	display: inline-block; 
  }

  i {
  	font-size: 1.4em;
  	margin-left: 10px;
  }

  a {
  	text-decoration: none;
  	color: $headerColor;

  	&:hover {
		text-decoration: underline;  		
  	}
  }
}