header {
  background: $headerColor;
  font-family: "OpenSansBold";
  color: white;
  padding-bottom: 10px;
  border-bottom: 6px solid #1a967d;
}

.main-header {
  margin: 15px 0;
  position: relative;

  .bot, .top {
    right: 10%;
    color: white;
    text-decoration: none;
    position: absolute;
  }

  i {
    font-size: 1.5em;
  }
}

.toggle-header {
  overflow:hidden;
  max-height:0;
  opacity:0;
  transition: all .4s ease-out;

  p {
    padding-left: 0;
    font-family: "Droid Sans", sans-serif;
  }

  em {
    font-size: 0.9em;
    color: #ddd;
    padding-top: 5px;
    position: relative;
    top: 5px;
  }
}

#header:target .toggle-header {
  max-height:100px;
  opacity:1;
}

#header:target .top { 
  opacity:0;pointer-events: none;
}

.logo {
  float: left;
  font-family: "Lato";
  letter-spacing: 0.05em;
  font-weight: 300;
  font-size: 1.5em;
  color: white;
}

nav {
  text-align: center;
  margin: 2% 0;
  float: right;
  margin-top: 70px;

  li {
    text-decoration: none;
    display: inline-block;
    margin: 0 2.3%;

    a {
      color: white;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: darken($headerColor, 15%);
      }
    }
  }
}