header {
  color: $headerColor;
  font-family: "OpenSansBold";
  padding-bottom: 20px;
  padding-top: 10px;
  background: #222;
  border-top: 5px solid $headerColor;
  border-bottom: 1px solid #444;
  margin-bottom: 40px;
  z-index: 999;
}

.main-header {
  margin: 10px 0;
  position: relative;
  padding: 0 0.4em;
  top: 4px;

  a {
    cursor: pointer;
  }
}

.logo {
  float: left;
  font-family: "OpenSans";
  letter-spacing: 0.05em;
  font-weight: 300;
  font-size: 1.5em;
  color: $headerColor;
}

nav {
  float: right;
}

.icons {
  li {
    text-decoration: none;
    display: inline-block;
    margin-right: 3%;
  }

  ul {
    text-align: right;
  }

  a {
    color: $headerColor;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: darken($headerColor, 15%);
    }
  }

  .fa {
    font-size: 2em;
  }
}
