header {
  z-index: 999;
  padding: 10px 10px 20px;
  font-weight: 500;
  color: white;
  background: #053357;
}

.site > header {
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
  background: #053357;
  background-position: top;
  background-size: cover;
}

header + .row {
  padding-top: 70px;
  padding-bottom: 70px;

  @media (max-width: $smallWidth) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.main-header {
  position: relative;
  top: 4px;
  display: flex;
  padding: 0;
  margin: 15px 0 10px;
  justify-content: space-between;

  @media (max-width: $smallWidth) {
    flex-direction: column;
  }

  > a {
    @media (max-width: $mediumWidth) {
      font-size: 0.7em;
    }
  }

  nav {
    @media (max-width: $smallWidth) {
      margin-top: 10px;
    }
  }
}

.logo {
  float: left;
  font-size: 1.5em;
  font-weight: 700;
  color: white;
  letter-spacing: 0.05em;
}

nav {
  float: right;
}

.menu {
  text-align: right;
  width: 250px;
  margin: 0;

  li {
    display: inline-block;
    margin-right: 12%;
    text-decoration: none;

    @media (max-width: $xsmallWidth) {
      margin-right: 4%;
    }

    a {
      position: relative;
      color: white;
      text-decoration: none;
      transition: color 0.3s;

      &:before {
        position: absolute;
        top: -20px;
        left: 0;
        width: 0;
        height: 4px;
        content: "";
        background: $headerColor;
        transition: width 0.5s;
      }

      &:hover {
        color: $headerColor;

        &:before {
          width: 100%;
        }
      }
    }
  }
}
