header {
  z-index: 999;
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: "OpenSansBold";
  color: $headerColor;
  background: #053357;
  border-bottom: 2px solid #333;
}

header + .row {
  padding-top: 70px;
  padding-bottom: 70px;
}

.main-header {
  position: relative;
  top: 4px;
  padding: 0 0.4em;
  margin: 10px 0;

  > a {
    @media (max-width: $smallWidth) {
      font-size: 0.7em;
    }
  }

  nav {
    @media (max-width: $smallWidth) {
      display: inline-block;
      width: 200px;
      margin-top: 0;
    }
  }
}

.logo {
  float: left;
  font-family: "OpenSansBold";
  font-size: 1.5em;
  font-weight: 300;
  color: white;
  letter-spacing: 0.05em;
}

nav {
  float: right;
}

.icons {
  li {
    display: inline-block;
    margin-right: 7%;
    text-decoration: none;
  }

  ul {
    text-align: right;
  }

  a {
    color: $headerColor;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: darken($headerColor, 15%);
    }
  }

  .fa {
    font-size: 2em;
  }
}
