header {
  background: $headerColor;
  font-family: "OpenSansBold";
  color: white;
  padding-bottom: 10px;
  border-bottom: 3px solid #1a967d;
  z-index: 999;
}

.main-header {
  margin: 15px 0;
  position: relative;
  top: 4px;

  a {
    cursor: pointer;
  }
}

.logo {
  float: left;
  font-family: "OpenSansLight";
  letter-spacing: 0.05em;
  font-weight: 300;
  font-size: 1.5em;
  color: white;
}

nav {
  text-align: center;
  float: right;

  li {
    text-decoration: none;
    display: inline-block;
    margin: 0 2.3%;

    a {
      color: white;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: darken($headerColor, 15%);
      }
    }
  }
}