header {
  z-index: 999;
  padding: 30px 10px 20px;
  font-family: "OpenSansBold";
  color: white;
  background: #053357;
}

.site > header {
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
  background: linear-gradient(
  rgba(6, 51, 87, 0.7),
  rgba(6, 51, 87, 0.7)
  ),
  url('../images/background.jpeg');
  background-position: top;
  background-size: cover;
}

header + .row {
  padding-top: 70px;
  padding-bottom: 70px;
}

.main-header {
  position: relative;
  top: 4px;
  padding: 0 0.4em;
  margin: 10px 0;

  > a {
    @media (max-width: $mediumWidth) {
      font-size: 0.7em;
    }
  }

  nav {
    @media (max-width: $mediumWidth) {
      display: inline-block;
      margin-top: 10px;
    }
  }
}

.logo {
  float: left;
  font-family: "OpenSansBold";
  font-size: 1.5em;
  font-weight: 300;
  color: white;
  letter-spacing: 0.05em;
}

nav {
  float: right;
}

.menu {
  margin: 0;

  li {
    display: inline-block;
    margin-right: 7%;
    margin-left: 5%;
    text-decoration: none;

    @media (max-width: $mediumWidth) {
      margin-right: 4%;
      margin-left: 0;
    }

    a {
      position: relative;
      color: white;
      text-decoration: none;
      transition: color 0.3s;

      &:before {
        position: absolute;
        top: -20px;
        left: 0;
        width: 0;
        height: 4px;
        content: '';
        background: $headerColor;
        transition: width 0.5s;
      }

      &:hover {
        color: $headerColor;

        &:before {
          width: 100%;
        }
      }
    }
  }
}
