header {
  color: $headerColor;
  font-family: "OpenSansBold";
  background: white;
  padding-bottom: 10px;
  z-index: 999;
}

.main-header {
  margin: 10px 0;
  position: relative;
  top: 4px;

  a {
    cursor: pointer;
  }
}

.logo {
  float: left;
  font-family: "OpenSans";
  letter-spacing: 0.05em;
  font-weight: 300;
  font-size: 1.5em;
  color: $headerColor;
}

nav {
  text-align: center;
  float: right;

  li {
    text-decoration: none;
    display: inline-block;
    margin: 0 2.3%;

    a {
      color: $headerColor;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: darken($headerColor, 15%);
      }
    }
  }
}