@media (max-width: $smallWidth) {
  .project-thumb {
    text-align: left;
  }

  .project-info p {
    width: 100%;
  }

  .footer .contact {
    width: 100%;
  }

  nav {
    width: 100%;
    margin-top: 10px;
    text-align: left;
  }

  .main-header {
    margin-bottom: 0;
  }

  .blog {
    li {
      width: auto;
      max-width: 500px;

      em {
        font-size: 0.8em;
      }
    }
  }

  .post {
    width: 100%;
    padding: 10px;
  }
}
