@media (max-width: 768px) {
	.project-thumb {
		text-align: left;
	}

	.project-info p {
		width: 100%;
	}

	.footer .contact {
		width: 100%;
	}

	nav {
		text-align: left;
		width: 100%;
		margin-top: 10px;
	}

	.main-header {
		margin-bottom: 0;
	}
}