@media (max-width: $mediumWidth) {
  .project-thumb {
    text-align: left;
  }

  .project-info p {
    width: 100%;
  }

  .footer .contact {
    width: 100%;
  }

  nav {
    width: 100%;
    margin-top: 10px;
    text-align: left;
  }

  .main-header {
    margin-bottom: 0;
  }

  .blog {
    li {
      width: auto;
    }
  }

  .post {
    width: 100%;
    padding: 20px;
  }
}
