.page-navigation {
	position: fixed;
	width: 100%;
	top: 0;

	a {
		text-decoration: none;
		color: $headerColor;
		font-size: 2em;
	}

	.left {
		margin-left: 2em;
	}

	.right {
		margin-right: 2em;
	}
}
