.page-navigation {
  position: fixed;
  top: 0;
  width: 100%;

  a {
    font-size: 2em;
    color: $linkColor;
    text-decoration: none;
  }

  .left {
    margin-left: 2em;
    margin-top: 15px;
  }

  .right {
    margin-right: 2em;
    margin-top: 15px;
  }
}
