.projects {
  color: white;

  a:not(.thumb) {
    text-decoration: none;
    color: white;
    border-radius: 1px;
    display: inline-block;
    margin-top: 20px;
    padding: 7px 15px;
    transition: background 0.1s;

    &.experiment {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  h3, h4, h5 {
    margin-bottom: 10px;
  }

  strong {
    font-size: 1.2em;
  }

  p {
    font-family: 'OpenSans';
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  .half {
    display: inline-block;
    width: 49%;
    margin-right: 1%;
  }

  .alert {
    font-style: italic;
    color: rgb(42, 161, 255);
  }

  .project-images {
    margin-top: 20px;

    img {
      padding: 2% 0%;
    }
  }
}

.project {
  padding: 5% 0;
}

@mixin project($backgroundColor, $fontColor, $borderColor, $titleColor) {
  background: $backgroundColor;
  color: $fontColor;

  ::selection {
    background: $titleColor;
    color: white;    
  }

  h3, h4, h5 {
    color: $titleColor;
  }

  a:not(.thumb) {
    border: 2px solid $titleColor;
    color: $titleColor;
    
    &:hover {
      background: $titleColor;
      color: white;
    } 
  }
}

.first {
  @include project($firstBackgroundColor, $firstFontColor, $firstBorderColor, $firstTitleColor);  
}

.second {
  @include project($secondBackgroundColor, $secondFontColor, $secondBorderColor, $secondTitleColor);  
}

.third {
  @include project($thirdBackgroundColor, $thirdFontColor, $thirdBorderColor, $thirdTitleColor);  
}

.project-hero {
  @include clear;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;

  &:first-child {
    padding-top: 30px;
  }

  &:last-child {
    border-bottom: 0;
  }
}

.project-thumb {
  display: inline-block;
  text-align: right;
  margin-bottom: 5px;

  img {
    width: 65%;
  }
}

.project-info {
  vertical-align: top;
  display: inline-block;
  margin: 0 auto;
  color: #555;
  text-align: left;
  border: 0;

  h5 {
    line-height: 1em;
    margin: 0;
    font-size: 1.2em;
  }

  .view-project {
    padding: 7px 15px;
    border: 2px solid #555;
    color: #555;
    margin-top: 15px;
    display: inline-block;
    
    &:hover {
      background: $headerColor;
      color: white;
      border-color: $headerColor; 
    } 
  }

  p {
    font-size: 1em;
    width: 60%;
  }
}

.thumb {
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  text-align: center; 
  cursor: pointer;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: "OpenSansBold";
  color: white;
  width: 350px;
  heigh: 250px;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.1s;
  }  

  img {
    display: block;
  }
}

.navigation {
  padding: 2% 7%;
  background: #222;
}