.projects {
  color: white;

  a {
    text-decoration: none;
    color: white;
    border-radius: 1px;
    display: inline-block;
    margin-top: 20px;
    padding: 7px 15px;
  }

  h3, h4, h5 {
    margin-bottom: 10px;
  }

  strong {
    font-size: 1.2em;
  }

  p {
    font-family: 'Droid Serif', serif;
  }

  .project-images {
    margin-top: 20px;

    img {
      padding: 2% 0%;
    }
  }
}

.project {
  padding: 5% 0;
}


@mixin project($backgroundColor, $fontColor, $borderColor, $titleColor) {
  background: $backgroundColor;
  color: $fontColor;
  border-top: 4px solid $borderColor;

  h3, h4, h5 {
    color: $titleColor;
  }

  p {
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  a {
    border: 2px solid $titleColor;
    color: $titleColor;

    &:hover {
      background: $titleColor;
      color: white;
    } 
  }
}


.first {
  @include project($firstBackgroundColor, $firstFontColor, $firstBorderColor, $firstTitleColor);  
}

.second {
  @include project($secondBackgroundColor, $secondFontColor, $secondBorderColor, $secondTitleColor);  
}

.third {
  @include project($thirdBackgroundColor, $thirdFontColor, $thirdBorderColor, $thirdTitleColor);  
}