.projects {
  color: white;

  a:not(.thumb) {
    display: inline-block;
    margin-top: 20px;
    color: $headerColor;
    text-decoration: none;
    border-radius: 1px;
    transition: background 0.1s;

    &.experiment {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  .button {
    padding: 7px 15px;
  }

  h3,
  h4,
  h5 {
    margin-bottom: 10px;
  }

  strong {
    font-size: 1.2em;
  }

  p {
    padding-bottom: 10px;
    margin-bottom: 0;
    font-family: "OpenSans";
  }

  .project-images {
    margin-top: 20px;

    img {
      padding: 2% 0;
    }
  }
}

.project {
  padding: 2% 0;
}

@mixin project($backgroundColor, $fontColor, $borderColor, $titleColor) {
  color: $fontColor;
  background: $backgroundColor;

  ::selection {
    color: white;
    background: $titleColor;
  }

  h3,
  h4,
  h5 {
    color: $titleColor;
  }

  .button:not(.thumb) {
    color: $titleColor;
    border: 2px solid $titleColor;

    &:hover {
      color: white;
      background: $titleColor;
    }
  }
}

.first {
  @include project($firstBackgroundColor, $firstFontColor, $firstBorderColor, $firstTitleColor);
}

.second {
  @include project($secondBackgroundColor, $secondFontColor, $secondBorderColor, $secondTitleColor);
}

.third {
  @include project($thirdBackgroundColor, $thirdFontColor, $thirdBorderColor, $thirdTitleColor);
}

.covers {
  background: white;
  width: 100%;
  margin: 0;
  max-width: 100%;
  padding: 5% 15%;
  border-top: 2px solid #555;
  border-bottom: 2px solid #555;

  h2, h5, p {
    color: #222;
  }
}

.project-hero {
  @include clear;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;

  &:first-child {
    padding-top: 30px;
  }

  &:last-child {
    border-bottom: 0;
  }
}

.project-thumb {
  display: inline-block;
  margin-bottom: 5px;
  text-align: right;
}

.project-info {
  display: inline-block;
  margin: 0 auto;
  color: #ccc;
  text-align: left;
  vertical-align: top;
  border: 0;

  h5 {
    margin: 0;
    font-size: 1.4em;
    line-height: 1em;
  }

  .view-project {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    background: $headerColor;
    color: #222;
    border-radius: 10px;

    &:hover {
      color: white;
      background: $headerColor;
      border-color: $headerColor;
    }
  }

  p {
    font-size: 1em;
    line-height: 1.5em;
  }
}

.thumb {
  display: inline-block;
  width: 350px;
  height: 250px;
  margin-top: 20px;
  margin-right: 10px;
  font-family: "OpenSansBold";
  font-size: 0.8em;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.1s;
  }

  img {
    display: block;
  }
}

.navigation {
  padding: 2% 7%;
  background: #222;
}
