.projects {
  color: white;

  a {
    text-decoration: none;
    color: white;
    border-radius: 1px;
    display: inline-block;
    margin-top: 20px;
    padding: 7px 15px;
    transition: background 0.1s;
  }

  h3, h4, h5 {
    margin-bottom: 10px;
  }

  strong {
    font-size: 1.2em;
  }

  p {
    font-family: 'OpenSans';
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  .project-images {
    margin-top: 20px;

    img {
      padding: 2% 0%;
    }
  }
}

.project {
  padding: 5% 0;
}

@mixin project($backgroundColor, $fontColor, $borderColor, $titleColor) {
  background: $backgroundColor;
  color: $fontColor;

  h3, h4, h5 {
    color: $titleColor;
  }

  a {
    border: 2px solid $titleColor;
    color: $titleColor;
    
    &:hover {
      background: $titleColor;
      color: white;
    } 
  }
}

.first {
  @include project($firstBackgroundColor, $firstFontColor, $firstBorderColor, $firstTitleColor);  
}

.second {
  @include project($secondBackgroundColor, $secondFontColor, $secondBorderColor, $secondTitleColor);  
}

.third {
  @include project($thirdBackgroundColor, $thirdFontColor, $thirdBorderColor, $thirdTitleColor);  
}

.project-hero {
  position: relative;

  img {
    opacity: 0.5;
  }

  &:hover {
    img {
      opacity: 0.8;
    }
  }
}

.project-info {
  -webkit-animation-name: intro-right;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
  -webkit-animation-fill-mode: both;

  background: #333;
  color: #eee;
  position: absolute;
  text-align: center;
  top: 200px;
  width: 100%;
  border: 0;

  h4 {
    font-size: 2.5em;
  }

  p {
    width: 60%;
    margin: 0 auto;
  }
}

.project-cover {
  a {
    display: block;
    background: #333;
  }

  img {
    transition: opacity 0.4s;
  }
}

@-webkit-keyframes intro-right {
  from {
    -webkit-transform: translateX(-500px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}