.projects {
  color: white;

  a:not(.thumb) {
    display: inline-block;
    margin-top: 20px;
    color: $headerColor;
    text-decoration: none;
    border-radius: 1px;
    transition: background 0.1s;

    &.experiment {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  .button {
    padding: 7px 15px;
  }

  h3,
  h4,
  h5 {
    margin-bottom: 10px;
  }

  strong {
    font-size: 1.2em;
  }

  p {
    padding-bottom: 10px;
    margin-bottom: 0;
    font-family: "OpenSans";
  }

  .project-images {
    margin-top: 20px;

    img {
      padding: 2% 0;
    }
  }
}

.project {
  padding: 2% 0;
}

@mixin project($backgroundColor, $fontColor, $borderColor, $titleColor) {
  color: $fontColor;
  background: $backgroundColor;

  ::selection {
    color: white;
    background: $titleColor;
  }

  h3,
  h4,
  h5 {
    color: $titleColor;
  }

  .button:not(.thumb) {
    color: $titleColor;
    border: 2px solid $titleColor;

    &:hover {
      color: white;
      background: $titleColor;
    }
  }
}

.first {
  @include project($firstBackgroundColor, $firstFontColor, $firstBorderColor, $firstTitleColor);
}

.second {
  @include project($secondBackgroundColor, $secondFontColor, $secondBorderColor, $secondTitleColor);
}

.third {
  @include project($thirdBackgroundColor, $thirdFontColor, $thirdBorderColor, $thirdTitleColor);
}

.covers {
  z-index: 10;
  width: 100%;
  max-width: 100%;
  padding: 7% 10% 0 10%;
  margin: 0;
  background: white;
  border-top: 2px solid #bbb;

  h2 {
    text-align: center;
  }

  h2,
  h5,
  p {
    color: #222;
  }
}

.project-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 10px;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  background: rgba(0, 0, 0, 0.65);
  opacity: 0;
  transition: opacity 0.3s;

  h5 {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 2em;
    color: white;
    text-align: center;
  }
}

.project-hero {
  @include clear;
  position: relative;
  top: 0;
  display: inline-block;
  width: 48%;
  margin: 10px 0.9%;
  transition: top 0.2s;

  &:hover {
    top: -4px;

    .project-overlay {
      opacity: 1;
    }

    h5,
    .view-project {
      top: 0;
    }
  }

  img {
    width: 100%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
  }

  &:last-child {
    border-bottom: 0;
  }

  .view-project,
  h5 {
    position: absolute;
    top: 20px;
    transition: top 0.2s;
  }
}

.project-thumb {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  text-align: right;
}

.view-project {
  display: inline-block;
  padding: 12px 40px;
  margin-top: 130px;
  color: white;
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }
}

.thumb {
  display: inline-block;
  width: 350px;
  height: 250px;
  margin-top: 20px;
  margin-right: 10px;
  font-family: "OpenSansBold";
  font-size: 0.8em;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.1s;
  }

  img {
    display: block;
  }
}

.navigation {
  padding: 2% 7%;
  background: #222;
}
