select {
  width: 28em;
  height: 2.5em;
  padding-left: 0.5em;
}

.styled-select {
  width: 28em;
  display: inline-block;
  margin: 0;
  padding-bottom: 1px;
  border: 1px solid #ccc;
  position: relative;
  height: 2.5em;
  overflow: hidden;
  background: white;
  top: 14px;

  &:after {
    content: "▼";
    position: absolute;
    top: 0.6em;
    right: 0.6em;
    pointer-events: none;
    color: #69889c;
  }

  select {
    width: 100%;
    background: transparent;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-border-radius: 0px;
    border-right: 2.3em solid #f2f2f2;
  }
  select::-ms-expand {
    display: none;
  }
}