select {
  width: 28em;
  height: 2.5em;
  padding-left: 0.5em;
}

.styled-select {
  position: relative;
  top: 14px;
  display: inline-block;
  width: 28em;
  height: 2.5em;
  padding-bottom: 1px;
  margin: 0;
  overflow: hidden;
  background: white;
  border: 1px solid #ccc;

  &::after {
    position: absolute;
    top: 0.6em;
    right: 0.6em;
    color: #69889c;
    pointer-events: none;
    content: "v";
  }

  select {
    width: 100%;
    appearance: none;
    background: transparent;
    border: none;
    border-right: 2.3em solid #f2f2f2;
    border-radius: 0;
  }

  select::-ms-expand {
    display: none;
  }
}
