$headerColor: #ffe121;
$linkColor: #053357;
$complementaryColor: #4f36ff;
$firstBackgroundColor: #3498db;
$firstTitleColor: #f1c40f;
$firstFontColor: white;
$firstBorderColor: #226c9e;
$secondBackgroundColor: #fff;
$secondTitleColor: #34495e;
$secondFontColor: #34495e;
$secondBorderColor: #1a967d;
$thirdBackgroundColor: #1ee5a5;
$thirdTitleColor: #262626;
$thirdFontColor: #262626;
$thirdBorderColor: #1a967d;
$largeWidth: 1024px;
$mediumWidth: 768px;
$smallWidth: 425px;
$xsmallWidth: 375px;
