---
layout: default
---

<div class="projects {{ page.class }}">
  <section class="project row">
    <span class="project-images column large-9">
      {{ content }}
      {% for image in page.images %}
        <img src="assets/images/{{ image }}">
      {% endfor %}
      {% for image in page.images-half %}
        <img class="small-4" src="assets/images/{{ image }}">
      {% endfor %}
    </span>
    <aside class="project-information column large-3">
      <h4>{{ page.title }}</h4>
      <p>{{ page.desc }}</p>
      <h5>Work</h5>
      <p>{{ page.work }}</p>
      {% for website in page.website %}
        <a href="{{ website }}" target="_blank">Visit Site</a>
      {% endfor %}
    </aside>
  </section>
  {% include navigation.html %}
</div>
